<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @address.cell %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @address.subject %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
